.dataStructureDropDown {
  color: white;
}

#dataStructures {
  margin-top: 10rem;
  border: 1px solid gray;
  color: white;
  height: 38px;
  width: 221px;
  animation: animat 1s forwards;
}

@keyframes animat {
  0% {
    margin-top: 12rem;
    opacity: 0;
  }

  100% {
    margin-top: 10rem;
    opacity: 100%;
  }
}
