/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  width: 100%
  border: 5px solid black; 
 }  */

.hashMap {
  margin: 10px;
}

.hashFunc {
  width: 50px;
  height: 50px;
  background-color: lightblue;
}

th {
  height: 40px;
  width: 40px;
  border: 2px solid black;
}

td {
  width: 100px;
  height: 40px;
  border: 2px solid black;
  padding-left: 5px;
}

li {
  list-style: none;
}

.startButton {
  position: absolute;
  align-self: start;
  margin: 10px;
  width: 80px;
  height: 30px;
}

.listItem {
  border: 2px solid black;
  transition-duration: 1s;
}
