.header-hashTable {
  justify-self: center;
  align-self: center;
  height: 50%;
  width: 100%;
}

.hashTable {
  display: flex;
  justify-content: space-between;
}

.hashMap {
  margin: 10px;
}

.hashContainer {
  align-self: center;
  justify-content: center;
  z-index: 5;
}

.hashFunction {
  display: flex;
  width: 8.125rem;
  height: 8.125rem;
  background-color: lightblue;
  z-index: 5;
}

.valuesList {
  align-self: center;
}

th {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid black;
  color: black;
  text-align: center;
}

td {
  width: 9.375rem;
  height: 3.75rem;
  border: 2px solid black;
}

ul {
  color: black;
  min-width: 10rem;
  min-height: 15rem;
}

li {
  list-style: none;
  color: black;
}

.listItem {
  transition-duration: 1s;
}

.key {
  display: inline-block;
  color: black;
}

.calculatedKey {
  position: absolute;
  transition-duration: 1s;
  color: black;
}

.empty {
  display: flex;
  position: absolute;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 8.125rem;
  height: 8.125rem;
  margin-left: 30.4rem;
  z-index: 3;
}

input {
  display: block;
  margin: 1rem;
  margin-top: 0.5rem;
  color: black;
  z-index: 1;
}

label {
  display: block;
  margin-bottom: 0rem;
  margin: 1rem;
  color: black;
  margin-bottom: 0.5rem;
  z-index: 1;
}

.behind {
  position: absolute;
  background-color: aquamarine;
  width: 11.625rem;
  height: 1.75rem;
  margin: 1rem;
  margin-top: -2.75rem;
  z-index: 1;
}

.getItem {
  color: black;
  z-index: 2;
  position: absolute;
  transition-duration: 1s;
}

#form {
  position: relative;
  z-index: 2;
}

.k {
  display: inline-block;
  color: black;
}

.v {
  display: inline-block;
  color: black;
}

@keyframes shake-1 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
