.head {
  margin-top: 14rem;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
  width: 40%;
}

.queue {
  display: flex;
  border-bottom: 5px solid black;
  align-items: flex-end;
  justify-content: flex-end;
}

.square {
  position: absolute;
  margin: 5px;
  height: 9rem;
  width: 2rem;
  background-color: lightgreen;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.line {
  display: flex;
  justify-content: space-between;
}

p {
  display: inline-block;
  margin: 5px;
}

@keyframes appear {
  0% {
    margin-right: 30rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
