.head {
  margin-top: 14rem;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
  width: 60%;
}

.queue {
  display: flex;
  border-bottom: 5px solid black;
  align-items: flex-end;
  justify-content: flex-end;
}

.square {
  position: absolute;
  margin: 5px;
  height: 9rem;
  width: 2rem;
  background-color: lightgreen;
  transition-duration: 1s;
}

.square:nth-child(0) {
  margin-right: 0rem;
}
.square:nth-child(1) {
  margin-right: 2.2rem;
}
.square:nth-child(2) {
  margin-right: 4.4rem;
}
.square:nth-child(3) {
  margin-right: 6.6rem;
}
.square:nth-child(4) {
  margin-right: 8.8rem;
}

.para {
  display: flex;
  justify-content: space-between;
}

p {
  display: inline-block;
  margin: 5px;
}
