* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.heading {
  display: flex;
  width: 100vw;
  height: 92vh;
}

/* #26B5C2
#389199
#06D8EA
#39676B
#2D3F41
#2C3233 */
