.dropdown {
  width: 21rem;
  position: absolute;
  bottom: 20%;
  left: 0%;
  animation: animas 1s;
}

#algorithm {
  border: 1px solid gray;
  color: white;
}

@keyframes animas {
  0% {
    bottom: 16%;
    opacity: 0;
  }

  100% {
    bottom: 20%;
    opacity: 100%;
  }
}
